<h1>Editing appointmentsdb</h1>

<%= render "form", appointmentsdb: @appointmentsdb %>

<br>

<div>
  <%= link_to "Show this appointmentsdb", @appointmentsdb %> |
  <%= link_to "Back to appointmentsdbs", appointmentsdbs_path %>
</div>
